/* position menu on background */
.menu {
  position: fixed;
  top: 0;
  left: 0;
}

/* position & size toggler */
.menu .toggler {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  opacity: 0;
  margin: 0;
}

/* position & size burger */
.menu .burger {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 1;
}

/* Create burger line */
.burger-line {
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

/* create top & bottom burger lines */
.burger-line::before,
.burger-line::after {
  content: '';
  position: relative;
  flex-shrink: 0;
  height: 3px;
  width: 40px;
  background: inherit;
  top: 10px;
}

/* move up top line */
.burger-line::after {
  top: -10px;
}

/* ANIMATE the burger */
/* rotate burger when checked */
.menu .toggler:checked+.burger>div {
  transform: rotate(135deg);
}

/* Transform to X */
.menu .toggler:checked+.burger>div::before,
.menu .toggler:checked+.burger>div::after {
  top: 0;
  transform: rotate(90deg);
}


ul {
  display: none;
}
